// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use 'scss/theme/theme';
@use 'scss/theme/colors';
@use 'scss/theme/tokens';
@use 'scss/theme/typography';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lection-auth-primary: mat.define-palette(mat.$indigo-palette);
$lection-auth-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lection-auth-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lection-auth-theme: mat.define-light-theme((
  color: (
    primary: $lection-auth-primary,
    accent: $lection-auth-accent,
    warn: $lection-auth-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lection-auth-theme);

/* You can add global styles to this file, and also import other style files */

:root, ::before, ::after {
  @include tokens.tokens;
  @include theme.init;
}

html, body {
  height: 100%;
}
h1.books{
    margin-top: 35px;
    color: colors.on-background();
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: grid;
  background-color: colors.background();
  color: colors.on-background();
}
.material-symbols-rounded {
  font-variation-settings:
    'FILL' var(--symbol-fill, 0),
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}
.mat-mdc-dialog-container .mdc-dialog__surface{
  background-color: colors.background() !important;
  border-radius: 25px !important;
}
.mat-mdc-action-list {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}
@import "scss/mat-sidenav";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-books{
    margin-top: 24px;
}
.addbook_btn{
    margin-right: 24px;
    margin-bottom: 12px;
    background-color: colors.surface-variant() !important;
    @include typography.label-large;

}   
.mdc-button__label{
    @include typography.label-large;
    color:colors.primary() !important;
}
.mdc-button__label:hover{
    color:colors.on-surface() !important;
}
.mat-mdc-raised-button:hover{
    background-color:colors.primary() !important;
    
}
.title_book{
    margin-top: 10px;
    color: colors.primary();
}
.dialog{
  background-color: colors.surface();
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: colors.on-surface-variant() !important;
}
.mat-mdc-dialog-surface {
  background: colors.surface() !important;

  h1 {
      @include typography.headline-small();
      color: colors.on-surface();
  }

  .mat-mdc-dialog-actions {
      .mat-mdc-button {
          background: colors.surface() !important;
          color: colors.on-surface() !important;
      }
  }
}